<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
	 	<listener class-name="testUtilities.RetryListeners" />
		<listener class-name="testUtilities.ExtentReportManager" />
	</listeners>  
	<test thread-count="5" name="Test">

<!--		 <parameter name="OS" value="Windows"/> -->
		<parameter name="browser" value="chrome" />
		<classes>
		
				
			
			<class name="pageTest.AddArtistPageTest"/>
			<!--<class name="pageTest.AddPaintingPageTest"/>	
			<class name="pageTest.E2ETest"/> 
			<class name="pageTest.HomePageTest" />
			<class name="pageTest.AddArtistsDDT"/>
			<class name="pageTest.LoanManagementPageTest"/> -->
						

		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
